{% extends 'base.html' %}
{% block title %}
    Reset password
{% endblock title %}
{% block content %}
    <form action="" method="post">
        {% csrf_token %}
        <input type="text" name="username" placeholder="username" class="m-2"><br>
        <input type="text" name="email" placeholder="user@gmail.com" class="m-2"><br>
        <input type="submit" name="send" value="send" class="m-2"><br>
        <a href="{% url 'users:registration' %}" class="btn btn-success m-2" >Registration</a><br>
    </form>
{% endblock content %}