<!DOCTYPE html>
{% load static %}
{% load my_tags %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}

        {% endblock title %}
    </title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'home:home' %}">Home</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'books:book_list' %}">Books</a>
                    </li>
                    {% if user.is_authenticated %}
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{% url 'users:personal_cabinet' %}">Cabinet</a>
                        </li>
                    {% endif %}
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                           data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item"
                                   href="{% url 'books:book_category' 'Historical' %}">Historical</a></li>
                            <li><a class="dropdown-item"
                                   href="{% url 'books:book_category' 'Scientific' %}">Scientific</a></li>
                            <li><a class="dropdown-item" href="{% url 'books:book_category' 'For_Kids' %}">For Kids</a>
                            </li>
                            <li><a class="dropdown-item"
                                   href="{% url 'books:book_category' 'Literature' %}">Literature</a></li>
                        </ul>
                    </li>
                    {% if request.user|has_role:"Manager,Admin" %}
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" tabindex="-1"
                               aria-disabled="true">{{ user.groups.first }}</a>
                        </li>
                    {% endif %}
                </ul>
                {% if user.is_authenticated %}

                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:logout' %}">Log out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'users:_login' %}">Login</a>
                    </li>
                {% endif %}

                {% if user.is_authenticated %}
                    {% if user.is_staff %}
                        {% if user.employee.picture %}
                            <li class="nav-item">
                                <a href="{% url 'users:user_update' %}">
                                    <img src="{{ user.employee.picture.url }}" alt="" class="profile_pic"></a>
                            </li>
                            <li class="nav-item">
                                {{ user.username }}
                            </li>
                        {% endif %}
                    {% else %}
                        {% if user.reader.picture %}
                            <li class="nav-item">
                                <a href="{% url 'users:user_update' %}">
                                    <img src="{{ user.reader.picture.url }}" alt="" class="profile_pic"></a>
                            </li>
                            <li class="nav-item">
                                {{ user.username }}
                            </li>
                        {% endif %}
                    {% endif %}


                {% endif %}


                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search"
                           name="search" value="{{ request.GET.search }}">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
</head>
<body>
{% block content %}

{% endblock content %}

{% block footer %}

{% endblock footer %}
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
</body>
</html>